*
  box-sizing border-box
body
  margin 0
  padding 0
  display flex
  //box-sizing border-box
  //background pink url("/client/img/diamond-Pink-Wallpaper.jpg") no-repeat fixed center;
  >div
    flex 1
    //flex-grow 10
  >div:nth-of-type(2)
    //flex-grow 10
    flex-basis 700px


.div1, .div2
  width 100px
  //height 100px
  border 1px solid black
  position relative
  padding 10px
  //margin 50px
  ._1
    width 30px
    height 30px
    border 1px solid black
    padding 10px
